/*---- Media queries -----*/
@media (max-width: 767px) {
    .mat-card-title .mat-divider {
        margin-left: 0;
        margin-right: 0;
    }
    .cal-top-col {
        width: 100%;
    }
    .accordion-handle {
        flex-direction: column !important;
    }
    .app-error .error-icon {
        height: 100px;
        width: 100px;
        font-size: 100px;
    }
}

@media (max-width: 959px) {
    .inbox-sidenav {
        background: inherit !important;
    }
}