<div class="page-wrap height-100 mat-bg-primary">
    <div class="session-form-hold">
        <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
        <mat-card>
            <mat-card-content>
                <div class="text-center pb-1">
                    <img src="assets/images/logo-full.png" alt="" class="mb-05">
                    <p class="text-muted m-0">Sign in to your account</p>
                </div>
                <form #loginForm novalidate>
                    <mat-form-field class="full-width">
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput placeholder="User name or email">
                    </mat-form-field>
                    
                    <mat-form-field class="full-width">
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput placeholder="Password">
                    </mat-form-field>
                    <section class="section-container">
                        <mat-checkbox>Remember this computer</mat-checkbox>
                        <button type="button" mat-raised-button class="mat-primary mb-1">Sign in</button>
                    </section>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
