<div class="page-wrap height-100 mat-bg-primary">
    <div class="session-form-hold">
        <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
        <mat-card>
            <mat-card-content>
                <div class="text-center pb-1">
                    <img src="assets/images/logo-full.png" alt="" class="mb-05">
                    <p class="text-muted m-0">Sign in to your account</p>
                </div>
                <form novalidate>
                    <div class="form-filed-container">
                        <mat-icon>person</mat-icon>
                        <mat-form-field class="full-width">
                                <input matInput placeholder="Username">
                        </mat-form-field>
                    </div>
                    
                    <mat-form-field class="full-width">
                            <input matInput placeholder="Password">
                    </mat-form-field>
                    <mat-checkbox class="pb-1">Remember this computer</mat-checkbox>
                    <button type="button" mat-raised-button class="mat-primary full-width mb-1">Sign in</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
